{% assign contact = site.data[page.language].contact %}

<section class="bg-responsive2">
    <article class="wrapper-small">
        <h2 class="wrapper-small section-headline">{{ contact.headline }}</h2>
        <div class="contact-form">
            <form method="post" action="https://formspree.io/{{ site.email }}" id="contactform">
                <input type="hidden" name="_format" value="plain" />
                <input type="text" name="name" id="name" placeholder="{{ contact.form.name }}"/>
                <input type="text" name="_replyto" id="email" placeholder="{{ contact.form.email }}" />
                <textarea name="text" id="comments" placeholder="{{ contact.form.comment }}" class="comments"></textarea>
                <input type="submit" value="{{ contact.form.submit }}" class="submit-btn"/>
            </form>
        </div>
        <div class="contact-txt">
            <p class="company-txt">{{ contact.teaser }}</p>
            <p>{{ contact.company }}</p>
        </div>
    </article>
</section>