{% assign contact = site.data[page.language].contact %}

<div id="success-contact" class="popup" onclick="document.getElementById('success-contact').outerHTML='';">
    <img src="{{ page.base_dir }}images/close-x.png" class="popup-close"/>
    <div class="tbl-cell">
        <img src="{{ page.base_dir }}images/ok-hook.png" class="success-img"/>
        <div class="succes-txt">{{ contact.form.success.text }}</div>
        <div class="succes-thx">{{ contact.form.success.thx }}</div>
        <div class="succes-footer">
            <div>{{ contact.form.success.footer }}</div>
        </div>
    </div>
</div>

<section class="bg-responsive2">
    <h2 class="wrapper-small section-headline">{{ contact.headline }}</h2>
    <article class="contact-wrapper wrapper-small">
        <div class="contact-form">
            <form method="post" action="https://formspree.io/{{ site.email }}" id="contactform">
                <input type="hidden" name="_format" value="plain" />
                <input type="text" name="name" id="name" minlength="2" placeholder="{{ contact.form.name }}" required />
                <input type="email" name="_replyto" id="email" placeholder="{{ contact.form.email }}" required />
                <textarea name="text" id="comments" minlength="10" placeholder="{{ contact.form.comment }}" class="comments" required></textarea>
                <button type="submit" class="submit-btn">{{ contact.form.submit }}</button>
            </form>
        </div>
        <div class="contact-txt">
            <p class="company-txt">{{ contact.teaser }}</p>
            <p>{{ contact.company }}</p>
        </div>
    </article>
</section>