<div class="release-unit">
    <a href="{{ release.url }}" hreflang="{{ page.language }}">
        <div class="cell vmiddle"><img class="icon" src="{{ page.base_dir }}images/icons/news.png"></div>
        <div class="cell vmiddle release-msg">
            <a target="_blank" rel="nofollow" href="http://www.iplayapps.de/kazong-neue-gratis-app-vereint-quiz-und-multiplayer-minispiele-28273/">
                Kazong: neue Gratis-App vereint Quiz und Multiplayer-Minispiele
            </a>
            <p class="release-date">25.04.2016 - iplayapps.de</p>
        </div>
    </a>
    <!--div class="cell vmiddle"><a href="{{ page.base_dir }}{{ release.files.pdf }}"><img class="icon left" src="{{ page.base_dir }}images/icons/pdf-pink.png"></a></div-->
</div>
<div class="release-unit">
    <a href="{{ release.url }}" hreflang="{{ page.language }}">
        <div class="cell vmiddle"><img class="icon" src="{{ page.base_dir }}images/icons/news.png"></div>
        <div class="cell vmiddle release-msg">
            <a target="_blank" href="http://www.appoid.de/kostenlose-apps/kazong-quiz-minispiele-denkspiele-fuer-duellsuechtige-multiplayer/">
                KAZONG – QUIZ, MINISPIELE, DENKSPIELE FÜR DUELLSÜCHTIGE MULTIPLAYER
            </a>
            <p class="release-date">20.04.2016 - appoid.de | Reviews | Tests | Empfehlungen</p>
        </div>
    </a>
    <!--div class="cell vmiddle"><a href="{{ page.base_dir }}{{ release.files.pdf }}"><img class="icon left" src="{{ page.base_dir }}images/icons/pdf-pink.png"></a></div-->
</div>
