<div class="game-description">
    <div class="game-txt-wrapper">
        <img class="game-prev-ico" src="{{ game.icon.path | asset_path }}" alt="{{ game.icon.label }}" />
        <span class="game-name">{{ game.name }}</span><span class="game-txt">{{ game.description }}</span>
    </div>
</div>
<img class="game-prev-img" src="{{ game.screenshot | asset_path }}" alt="{{ game.teaser }}" />
