<div class="game-description">
    <div class="game-txt-wrapper">
        <img class="game-prev-ico" src="{{ page.base_dir }}images/{{ game.icon.path }}" alt="{{ game.icon.label }}" />
        <span class="game-name">{{ game.name }}</span><span class="game-txt">{{ game.description }}</span>
    </div>
</div>
<img class="game-prev-img" src="{{ page.base_dir }}images/{{ game.screenshot }}" alt="{{ game.teaser }}" />
