{% assign press = site.data[page.language].press %}
{% assign posts=site.posts | where:"language", page.language %}

<section class="hero-unit unit">
    <article class="wrapper">
        <h2 class="section-headline ClearBottom">{{ press.headline }}</h2>
        <div class="section-one btn-press-unit transparent">
            <a class="cell" href="{{ press.path-txt }}" download >
                <img class="btn-getpress" src="{{ page.base_dir }}images/btn/txt-pink.png">
                <p>Download</p>
                <div>{{ press.description }}</div>
            </a>
            <a class="cell" href="{{ press.path-img }}">
                <img class="btn-getpress last" src="{{ page.base_dir }}images/btn/pdf-blue.png">
                <p>Download</p>
                <div>Screenshots &amp; Images</div>
            </a>
            <a class="cell" href="{{ press.path-kit }}">
                <img class="btn-getpress last" src="{{ page.base_dir }}images/btn/pressfolder.png">
                <p>Download</p>
                <div>{{ press.folder }}</div>
            </a>
        </div>
        <!--p>For further information don´t hesitate to contact us! </p-->
    </article>

    <article class="wrapper">
        <h3 class="section-headline md">{{ press.publication.headline }}</h3>
        <ul class="press-publications">
        {% for release in posts %}
            <li class="release-item">
                {% include release_item.liquid %}
            </li>
        {% endfor %}
        </ul>
    </article>
</section>