<div class="release-unit">
    <!--a href="{{ release.url }}" hreflang="{{ page.language }}"-->
        <div class="cell vmiddle"><img class="icon" src="{{ page.base_dir }}images/icons/news.png"></div>
        <div class="cell vmiddle release-msg">
            <p class="release-title">{{ release.description }}</p>
            <p class="release-date">{{ release.date | date: '%d-%m-%Y' }}</p>
        </div>
    <!--/a-->
    <div class="cell vmiddle"><a href="{{ page.base_dir }}{{ release.files.pdf }}"><img class="icon" src="{{ page.base_dir }}images/icons/txt-pink.png"></a></div>
    <div class="cell vmiddle"><a href="{{ page.base_dir }}{{ release.files.txt }}"><img class="icon left" src="{{ page.base_dir }}images/icons/pdf-pink.png"></a></div>
</div>